#SPDX-License-Identifier: MIT-0
---
# tasks file for cni-flannel
- name: Check flannel ns
  shell: kubectl get ns kube-flannel
  become_user: ubuntu
  environment:
    KUBECONFIG: /home/ubuntu/.kube/config
  failed_when: false
  register: flannel_ns

- name: Download flannel
  get_url:
    url: https://github.com/flannel-io/flannel/releases/latest/download/kube-flannel.yml
    dest: /tmp/kube-flannel.yml
  when: flannel_ns.rc != 0

- name: Apply flannel
  shell: kubectl apply -f /tmp/kube-flannel.yml
  become_user: ubuntu
  environment:
    KUBECONFIG: /home/ubuntu/.kube/config
  when: flannel_ns.rc != 0

