#SPDX-License-Identifier: MIT-0
---
# handlers file for container-runtime

- name: restart docker
  systemd:
    name: docker
    state: restarted
    enabled: yes

- name: restart containerd
  systemd:
    name: containerd
    state: restarted
    enabled: yes
    daemon_reload: yes

