#SPDX-License-Identifier: MIT-0
---
# tasks file for apps-nginx
- name: Create namespace
  shell: kubectl create ns app --dry-run=client -o yaml | kubectl apply -f -
  become_user: ubuntu
  environment:
    KUBECONFIG: /home/ubuntu/.kube/config

- name: Deploy nginx pod
  shell: |
    cat <<EOF | kubectl apply -f -
    apiVersion: v1
    kind: Pod
    metadata:
      name: nginx-app
      namespace: app
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx
        ports:
        - containerPort: 80
    EOF
  become_user: ubuntu
  environment:
    KUBECONFIG: /home/ubuntu/.kube/config

- name: Deploy service
  shell: |
    cat <<EOF | kubectl apply -f -
    apiVersion: v1
    kind: Service
    metadata:
      name: nginx-svc
      namespace: app
    spec:
      type: NodePort
      selector:
        app: nginx
      ports:
      - port: 80
        targetPort: 80
        nodePort: 30080
    EOF
  become_user: ubuntu
  environment:
    KUBECONFIG: /home/ubuntu/.kube/config

